*{box-sizing: border-box}
/* fixed width for mockup matching purposes only
body {
  min-width: 860px;
  max-width: 860px;
}
*/

/* header styles */
header h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  color: #8468B3;
  font-family: Helvetica, sans-serif;
  font-weight: 600
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: auto;
  text-align: center;
}
nav li {
  flex: 1;
  flex-basis: auto;
  list-style-type: none;
  float: left;
  padding: .3rem 2.6rem .3rem 2.6rem;
  border-right: 3px solid rebeccapurple;
  background-color: #8468B3;
}
nav li:last-child {
  border-right: none;
}
nav li a {
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}
/* article styles */
article{
  clear: both;
  display: flex;
}
aside {
  flex: 1;
  float: left;
  width: 25%;
  background-color: #C0B2D5;
}
aside ul {
  padding-top: 5rem;
  padding-bottom: 11rem;
  text-align: center;
}
aside li {
  padding-bottom: 1rem;
}
aside li a {
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}
figure {
  flex: 1;
  flex-grow: 2.5;
  width:75%;
  float: right;
  background-color: lightgray;
}
figure img {
  padding-top: 10%;
  width: 50%;
  margin: auto;
  display: block;
}
figcaption {
  text-align: center;
  padding: 2rem 1rem 4rem 1rem;
  width: 75%;
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
/* footer styles */
footer {
  clear: both;
}
footer ul {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
footer li {
  list-style-type: none;
  display: inline-block;
}
footer img {
  width: 45%;
}